.jumbotron{
  background-color:#13E9C2 ;
  text-align: center;


}
h1{
  color:white;
  font-size: 10px;
    font-family: font-family: 'Unlock', cursive;
}
.well{
  padding: 3%;

}

body{
  background-image:url("../img/Galaxy-backgrpund-01-hq.jpg");
}
.totalResult{
  display: none;
}
